<ul class="nav nav-pills nav-justified">
        <li class="nav-item" id="tab">
          <a class="nav-link active" id="footer-nav" href="#">Home</a>
        </li>
        <li class="nav-item" id="tab">
          <a class="nav-link" id="footer-nav" href="#">Journey Planner</a>
        </li>
        <li class="nav-item" id="tab">
          <a class="nav-link" id="footer-nav" href="#">Routes</a>
        </li>
        <li class="nav-item" id="tab">
          <a class="nav-link disabled" id="footer-nav" href="#" tabindex="-1" aria-disabled="false">Favourites</a>
        </li>
        <li class="nav-item" id="tab">
                <a class="nav-link disabled" id="footer-nav" href="#" tabindex="-1" aria-disabled="false">More</a>
              </li>
      </ul>